/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Default css */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* variable */
:root {
  --primary-color: #54bd95;
}

/* header section */
.header-btn {
  padding: 7px 13px !important;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: #fff;
  transition: .5s;
}

.header-btn:hover {
  background: #fff !important;
  color: #333;
  border: 1px solid var(--primary-color);
}

/* reusable css */
.sec-title {
  color: #191a15;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* responsive css */
@media (min-width: 769px) {
  .sidebar {
    background: #f9f8fe;
    backdrop-filter: blur(10px);
  }
}
