/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Default css */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* variable */
:root {
  --primary-color: #54bd95;
  --secondary-color: #a6a6a6;
}

/* header section */
header.header-sec {
  background: url("assets/images/herotopshadow.png") no-repeat;
}
.header-btn {
  padding: 7px 13px !important;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: #fff;
  transition: 0.5s;
}

.header-btn:hover {
  background: #fff !important;
  color: #333;
  border: 1px solid var(--primary-color);
}

/* company section */
.company-title {
  font-size: 40px !important;
  font-weight: 700 !important;
}

/* footer section */
footer {
  background: #161c28;
}

.focus-ring-secondary {
  border-radius: 70px;
  border: 2px solid var(--secondary-color);
}

.focus-ring-secondary::placeholder {
  color: var(--secondary-color);
}

.form-btn {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 5px 6px !important;
}

.input-btn {
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5px;
}

/* reusable css */
.sec-title {
  color: #191a15;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.primary-btn {
  display: inline-flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  background: var(--primary-color);
  color: #fff;
  transition: 0.6s;
}

.primary-btn:hover {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* responsive css */
@media (min-width: 769px) {
  .sidebar {
    background: #f9f8fe;
    backdrop-filter: blur(10px);
  }

  .hero-p {
    width: 75%;
  }

  .heroimg {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .hero-bar {
    width: 100%;
  }

  .company-title {
    font-size: 32px !important;
  }
}

@media (max-width: 426px) {
  .btn-hero-grp {
    margin-bottom: 5rem;
  }

  .primary-btn {
    padding: 12px 18px;
  }

  .company-title {
    font-size: 24px !important;
  }
}
